@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../Projetos/pedigree/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../Projetos/pedigree/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../Projetos/pedigree/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../Projetos/pedigree/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../Projetos/pedigree/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../Projetos/pedigree/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../Projetos/pedigree/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* esse flex está no lugar do container */
/* line 2, ../Projetos/pedigree/css/scss/_flex.scss */
.flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap eh para o item quebrar quando ficar muito pequeno, no caso do mobile */
}

/* line 9, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

/* line 16, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
  margin-left: 15px;
  margin-right: 15px;
  align-self: flex-start;
}

/* line 22, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-1 {
  flex: 0 0 calc(8.333% - 30px);
  max-width: calc(8.333% - 30px);
}

/* line 27, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-2 {
  flex: 0 0 calc(16.666% - 30px);
  max-width: calc(16.666% - 30px);
}

/* line 32, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-3 {
  flex: 0 0 calc(24.999% - 30px);
  max-width: calc(24.999% - 30px);
}

/* line 37, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-4 {
  flex: 0 0 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
}

/* line 42, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-5 {
  flex: 0 0 calc(41.666% - 30px);
  max-width: calc(41.666% - 30px);
}

/* line 47, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-6 {
  flex: 0 0 calc(50% - 30px);
  max-width: calc(50% - 30px);
}

/* line 52, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-7 {
  flex: 0 0 calc(58.333% - 30px);
  max-width: calc(58.333% - 30px);
}

/* line 57, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-8 {
  flex: 0 0 calc(66.666% - 30px);
  max-width: calc(66.666% - 30px);
}

/* line 62, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-9 {
  flex: 0 0 calc(74.999% - 30px);
  max-width: calc(74.999% - 30px);
}

/* line 67, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-10 {
  flex: 0 0 calc(83.332% - 30px);
  max-width: calc(83.332% - 30px);
}

/* line 72, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-11 {
  flex: 0 0 calc(91.665% - 30px);
  max-width: calc(91.665% - 30px);
}

/* line 77, ../Projetos/pedigree/css/scss/_flex.scss */
.flex-item-12 {
  flex: 0 0 calc(100% - 30px);
  max-width: calc(100% - 30px);
}

@media (max-width: 739px) {
  /* line 85, ../Projetos/pedigree/css/scss/_flex.scss */
  .flex {
    max-width: 300px;
    flex-direction: column;
  }
  /* line 89, ../Projetos/pedigree/css/scss/_flex.scss */
  .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4, .flex-item-5, .flex-item-6, .flex-item-7, .flex-item-8, .flex-item-9, .flex-item-10, .flex-item-11, .flex-item-12 {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    align-self: auto;
  }
}

/* line 59, ../Projetos/pedigree/css/scss/_variaveis-e-mixins.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 1, ../Projetos/pedigree/css/scss/_header.scss */
.header {
  height: 630px;
  width: 100%;
  padding: 40px 0;
  background: url("../../img/cachorros_no_zoom.png") no-repeat center;
  background-size: cover;
}

/* line 8, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

/* line 12, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul img {
  width: 60px;
}

/* line 16, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #FFF;
  border-right: 1px solid #251619;
  font-weight: bold;
  font-family: "Courier Prime", monospace;
  font-size: 0.875em;
  line-height: 1.42857em;
}

/* line 24, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul a:hover {
  color: #333;
  text-decoration: underline;
}

/* line 28, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul a span {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 33, ../Projetos/pedigree/css/scss/_header.scss */
.header_menu ul .logo {
  display: none;
}

/* line 38, ../Projetos/pedigree/css/scss/_header.scss */
.header_sociais {
  align-self: center;
}

/* line 40, ../Projetos/pedigree/css/scss/_header.scss */
.header_sociais ul {
  display: flex;
}

/* line 43, ../Projetos/pedigree/css/scss/_header.scss */
.header_sociais ul a {
  display: block;
  padding: 5px;
}

/* line 49, ../Projetos/pedigree/css/scss/_header.scss */
.header_sociais img {
  width: 20px;
}

/* line 1, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda {
  padding: 40px 0 15px 0;
  background: #fec118;
  color: #FFF;
}

/* line 5, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda h2 {
  font-family: "Courier Prime", monospace;
  font-size: 1.875em;
  line-height: 1.1em;
  max-width: 450px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* line 11, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda p {
  font-family: "Courier Prime", monospace;
  font-size: 0.875em;
  line-height: 1.42857em;
  max-width: 350px;
}

/* line 15, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda img {
  width: 140px;
  margin: 0 auto;
}

/* line 19, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda a {
  align-self: center;
  display: block;
  border: 3px solid;
  padding: 10px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
  text-decoration: none;
  padding: 20px 50px;
  margin: 0 auto;
}

/* line 31, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda a::after {
  content: "⯈";
  margin-left: 50px;
}

/* line 35, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda a:hover {
  color: #333;
}

/* line 42, ../Projetos/pedigree/css/scss/_propaganda.scss */
.propaganda2 img {
  width: 60px;
}

/* line 1, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos {
  padding: 40px 0;
}

/* line 3, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos h1 {
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-size: 2.8125em;
  line-height: 1.11111em;
  font-weight: bold;
  color: #333;
  padding-bottom: 40px;
}

/* line 10, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos h2 {
  font-family: "Courier Prime", monospace;
  font-size: 1.875em;
  line-height: 1.1em;
  padding: 40px 0 60px 0;
  color: #fec118;
  text-align: center;
}

/* line 16, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos img {
  width: 160px;
  margin: 0 auto;
}

/* line 20, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos a {
  color: #fec118;
  border: 2px solid;
  text-align: center;
  display: block;
  width: 200px;
  padding: 15px;
  margin: 20px auto 0 auto;
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 31, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos a::after {
  content: "⯈";
  margin-left: 50px;
}

/* line 35, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos a:hover {
  color: #333;
}

/* line 39, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos .primeiroA {
  margin-top: 44px;
}

/* line 42, ../Projetos/pedigree/css/scss/_produtos.scss */
.produtos .segundoA {
  margin-top: 33px;
}

/* line 1, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos {
  padding: 60px 0;
}

/* line 3, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos h1 {
  text-align: center;
  font-family: "Courier Prime", monospace;
  font-size: 2.8125em;
  line-height: 1.11111em;
  font-weight: bold;
  color: #333;
  padding-bottom: 40px;
}

/* line 10, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos img {
  margin: 0 auto;
}

/* line 13, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos h2 {
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
  padding: 20px 0;
  color: #fec118;
  text-align: center;
}

/* line 19, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .btn {
  color: #fec118;
  border: 2px solid;
  text-align: center;
  display: block;
  width: 250px;
  padding: 20px;
  margin: 20px auto 0 auto;
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 30, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .btn::after {
  content: "⯈";
  margin-left: 50px;
}

/* line 34, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .btn:hover {
  color: #333;
}

/* line 38, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos p {
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
  text-align: center;
  color: #333;
}

/* line 43, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .saibaMais {
  color: #fec118;
  border: none;
  text-align: center;
  display: block;
  width: 250px;
  padding: 60px 0 20px 0;
  margin: 20px auto 0 auto;
  text-decoration: none;
  font-family: "Courier Prime", monospace;
  font-size: 1.125em;
  line-height: 0.77778em;
}

/* line 53, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .saibaMais::after {
  content: "⯈";
  margin-left: 30px;
}

/* line 57, ../Projetos/pedigree/css/scss/_artigo.scss */
.artigos .saibaMais:hover {
  color: #333;
}

/* line 1, ../Projetos/pedigree/css/scss/_imagem_bg.scss */
.imagem_bg {
  height: 420px;
  background: url("../../img/bnnr4-bg.jpg") no-repeat center;
  background-size: cover;
}

/* line 1, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao {
  background: #fec118;
  padding: 20px 0 0 0;
  text-align: center;
}

/* line 5, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao h2 a {
  display: block;
  font-family: "Courier Prime", monospace;
  font-size: 0.9375em;
  line-height: 1.73333em;
  font-weight: bold;
  color: #FFF;
  padding-bottom: 20px;
  text-decoration: none;
}

/* line 12, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao h2 a:hover {
  color: #333;
}

/* line 16, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  padding-bottom: 10px;
}

/* line 21, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao li a:hover {
  color: #333;
  cursor: pointer;
}

/* line 26, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .navBusca {
  display: block;
  font-family: "Courier Prime", monospace;
  font-size: 0.9375em;
  line-height: 1.73333em;
  font-weight: bold;
  color: #FFF;
  padding-bottom: 20px;
  text-decoration: none;
}

/* line 33, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .navBusca:hover {
  color: #333;
  cursor: pointer;
}

/* line 38, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .sociais {
  align-self: flex-start;
}

/* line 40, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .sociais ul {
  display: flex;
}

/* line 43, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .sociais ul a {
  display: block;
  padding: 5px;
}

/* line 49, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .sociais img {
  width: 20px;
}

/* line 53, ../Projetos/pedigree/css/scss/_navegacao.scss */
.navegacao .nav_logo {
  float: right;
  margin-right: 100px;
}

/*# sourceMappingURL=style.css.map */