.artigos {
    padding: 60px 0;
    h1 {
        text-align: center;
        @include tipo-2(45);
        font-weight: bold;
        color: $cinza;
        padding-bottom: 40px;
    }
    img {
        margin: 0 auto;
    }
    h2 {
        @include tipo-2(18);
        padding: 20px 0;
        color: $amarelo;
        text-align: center;
    }
    .btn {
        color: $amarelo;
        border: 2px solid;
        text-align: center;
        display: block;
        width: 250px;
        padding: 20px;
        margin: 20px auto 0 auto;
        @include tipo-2(18);
        text-transform: uppercase;
        text-decoration: none;
        &::after {
            content: "⯈";
            margin-left: 50px;
        }
        &:hover {
            color: $cinza;
        }
    }
    p {
        @include tipo-2(18);
        text-align: center;
        color: $cinza;
    }
    .saibaMais {
        color: $amarelo;
        border: none;
        text-align: center;
        display: block;
        width: 250px;
        padding: 60px 0 20px 0;
        margin: 20px auto 0 auto;
        text-decoration: none;
        @include tipo-2(18);
        &::after {
            content: "⯈";
            margin-left: 30px;
        }
        &:hover {
            color: $cinza;
            text-decoration: underline;
        }
    }
}